html {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

/*Game features: Score & Lives*/

.game-features {
    width: 650px;
    margin-bottom: -50px;
    margin-left: 33%;
    display: flex;
    justify-content: space-between;
}

.player-lives img {
    width: 30px;
}

/* Modal that appears on the start of the game */
.game-start-modal-container {
    position:fixed;
    z-index: 1;
    height: 100%;
    width: 100%;
    background: url('../images/startGame-background.jpg');
    background-size:cover;
}


.game-start-modal-content {
    background-color: rgba(0, 0, 0, 0.7);
    margin: 8% auto;
    padding: 0;
    width: 800px;
    height: 600px;
    box-shadow: 0 5px 8px rgba(0,0,0,0.2),0 7px 20px rgba(0,0,0,0.17);
}

.game-start-modal-content > h1 {
    font-size: 2em;
    color: #f2f2f2;
    padding-top: 5%;
}

.game-start-modal-content > p {
    margin: 2% 8%;
    font-size: 1.1em;
    color: #f2f2f2;
    line-height: 1.6;
}

.character-select-container {
    height: 150px;
    width: 800px;
    position: relative;
}

.player-sprite {
    position: relative;
    z-index: 2;
}

.player-selector {
    position: absolute;
    left: 116px;
}

/* Modal that appears after the user has finished the game */
.game-over-modal-container {
    display: none;
    position: fixed;
    z-index: 1;
    height: 100%;
    width: 100%;
}

.game-over-modal-content {
    background-color: rgba(0, 0, 0, 0.7);
    margin: 14% auto;
    padding: 0;
    width: 400px;
    height: 300px;
    box-shadow: 0 5px 8px rgba(0,0,0,0.2),0 7px 20px rgba(0,0,0,0.17);
}

.game-over-modal-content > h2 {
    padding: 12% 6%;
    font-size: 1.2em;
    line-height: 2.0;
    color: #f2f2f2;
    opacity: 0.9;
}

.game-over-modal-content footer {
    text-align: center;
}

.button {
    color: #fff;
    font-size: 1.1em;
    background: #4db559;
    padding: 10px 20px;
    cursor: pointer;
    display: inline-block;
}
